@import './base.css';

body {
  background-color: #181938;
  height: 100%;
}

#app {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #181938;
}

a.link-white {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a.link-white:hover {
  color: rgba(255, 255, 255);
}

li {
  list-style: none;
}
